.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.drop_file_input {
    position: relative;
    max-width: 460px;
    /* height: 200px; */
    width: 100%;
    border: 2px dashed var(--border-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--input-bg);
    /* border: 4px dashed #4267b2; */
    padding:20px;
}

.drop_file_input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.drop_file_input:hover,
.drop_file_input.dragover {
    opacity: 0.6;
    /* border: 4px dashed gray; */
}

.drop_file_input__label {
    text-align: center;
    color: var(--txt-second-color);
    font-weight: 600;
    padding: 10px;
    margin: auto;
}

.drop_file_input__label img {
    width: 140px;
    margin:auto ;
}

.drop_file_preview {
    margin-top: 30px;
}

.drop_file_preview p {
    font-weight: 500;
}

.drop_file_preview__title {
    margin-bottom: 20px;
}
.Ready_text{
    text-align: center;
    color: hsl(231deg 83% 58%);
    font-weight: bold;
    font-size: 32px;
    margin-top: 100px;
    font-style: italic;
}
.upload_text{
    font-size: 28px;
    /* color: hsl(207deg 96% 37%); */
    text-align: center;
    color: hsl(231deg 83% 58%);
}

.drop_file_preview__item {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    background-color: var(--input-bg);
    padding: 15px;
    border-radius: 20px;
}

.drop_file_preview__item img {
    width: 50px;
    margin-right: 20px;
}

.drop_file_preview__item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drop_file_preview__item__del {
    background-color: var(--box-bg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.drop_file_preview__item:hover .drop_file_preview__item__del {
    opacity: 1;
}